/*noinspection CssUnknownTarget*/
@font-face {
    font-family: 'Equestria';
    src: url('/fonts/Equestria.ttf') format('truetype');
}

/*noinspection CssUnknownTarget*/
@font-face {
    font-family: 'Celestia Redux Alternate';
    src: url('/fonts/CelestiaMediumReduxAlternate.ttf') format('truetype');
}
